nav {
  height: 120px;
  background-color: #4056a0 ;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  width: 100%;
  }

.title {
  font-family: 'Bungee', cursive; 
  display: flex;
  align-items: center;
}
  
.additional-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  margin-left: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  height: 400px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e1ab08;
  background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
} 



